@import "../../../styles/styles.scss";

:root {
  --rc-chat-panel-display: flex;
}

@include roq-component("chat-window") {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1;

  &__header {
  }

  &__messages {
    flex-grow: 1;
    min-height: 1;
  }

  &__input {
  }
}
