/* :root {
  --rw-border-radius: 8px;
  --rw-margin-step: 8px;
  --rw-primary-font: Helvetica, Arial, sans-serif;

  --rw-primary-text: #091e42;
  --rw-secondary-text: #6b778c;
  --rw-tertiary-text: #878c95;

  --rw-messages-notification-bell-size: 42px;

  --rw-messages-notification-bell-background: transparent;
  --rw-messages-notification-bell-active-background: rgba(15, 23, 42, 0.04);

  --rw-messages-notification-bell-button-pading: calc(var(--rw-margin-step) / 1);
  --rw-messages-notification-bell-icon-color: rgba(15, 23, 42, 0.04);
} */

.roq-widget-messages-notification-bell {
  width: var(--rw-messages-notification-bell-size);
  height: var(--rw-messages-notification-bell-size);
  box-sizing: border-box;
  position: relative;
}

.roq-widget-messages-notification-bell__button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: var(--rw-messages-notification-bell-background);
  cursor: pointer;
  padding: var(--rw-messages-notification-bell-button-pading);
}

.roq-widget-messages-notification-bell__button:hover,
.roq-widget-messages-notification-bell__button:focus {
  background-color: var(--rw-messages-notification-bell-active-background);
}

svg.roq-widget-messages-notification-bell__button__icon {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  color: var(--rw-primary-text);
  vertical-align: bottom;

  fill: currentcolor;
}

.roq-widget-messages-notification-bell__badge {
  position: absolute;
  top: var(--rw-messages-notification-bell-button-pading);
  right: var(--rw-messages-notification-bell-button-pading);
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
