@import "../../../styles/styles.scss";

:root {
  --rc-chat-message-bubble-padding: calc(var(--rc-step) * 1.25);
  --rc-chat-message-bubble-radius: var(--rc-border-radius);
  --rc-chat-message-bubble-font-weight: var(--rc-font-weight-bold);
  --rc-chat-message-bubble-font-size: var(--rc-font-size-base);
  --rc-chat-message-bubble-line-height: 1rem;
  --rc-chat-message-bubble-color: var(--rc-color-text);

  --rc-chat-message-bubble-sent-padding: var(--rc-chat-message-bubble-padding);
  --rc-chat-message-bubble-sent-radius: var(--rc-chat-message-bubble-radius);
  --rc-chat-message-bubble-sent-font-weight: var(
    --rc-chat-message-bubble-font-weight
  );
  --rc-chat-message-bubble-sent-font-size: var(
    --rc-chat-message-bubble-font-size
  );
  --rc-chat-message-bubble-sent-color: var(--rc-color-white);
  --rc-chat-message-bubble-sent-background-color: var(--rc-color-primary);

  --rc-chat-message-bubble-received-padding: var(
    --rc-chat-message-bubble-padding
  );
  --rc-chat-message-bubble-received-radius: var(
    --rc-chat-message-bubble-radius
  );
  --rc-chat-message-bubble-received-font-weight: var(
    --rc-chat-message-bubble-font-weight
  );
  --rc-chat-message-bubble-received-font-size: var(
    --rc-chat-message-bubble-font-size
  );
  --rc-chat-message-bubble-received-color: var(--rc-chat-message-bubble-color);
  --rc-chat-message-bubble-received-background-color: var(--rc-color-white);
}

@include roq-component("chat-message-bubble") {
  $container: &;

  display: inline-flex;
  padding: var(--rc-chat-message-bubble-sent-padding);
  border-radius: var(--rc-chat-message-bubble-radius);

  &__content {
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  p {
    margin: 0px;
    padding: 0px;
    font-size: var(--rc-chat-message-bubble-font-size);
    line-height: var(--rc-chat-message-bubble-line-height);
  }

  &-sent {
    padding: var(--rc-chat-message-bubble-sent-padding);
    border-radius: var(--rc-chat-message-bubble-sent-radius);
    background-color: var(--rc-chat-message-bubble-sent-background-color);

    & > *,
    & > *::after,
    & > *::before,
    p {
      font-weight: var(--rc-chat-message-bubble-sent-font-weight);
      color: var(--rc-chat-message-bubble-sent-color);
    }
  }

  &-received {
    padding: var(--rc-chat-message-bubble-received-padding);
    border-radius: var(--rc-chat-message-bubble-received-radius);
    background-color: var(--rc-chat-message-bubble-received-background-color);

    & > *,
    & > *::after,
    & > *::before,
    p {
      font-weight: var(--rc-chat-message-bubble-received-font-weight);
      color: var(--rc-chat-message-bubble-received-color);
    }
  }

  &-corner {
    &#{$container} {
      &-sent {
        border-bottom-right-radius: 0px;
      }
      &-received {
        border-bottom-left-radius: 0px;
      }
    }
  }
}
