@import "../../../styles/styles.scss";

$sent-color: #0f172a;
$received-color: #e2e8f0;

:root {
  --chat-message-chat-padding: calc(var(--rc-layout-step) * 1.5);
  --chat-message-chat-radius: var(--rc-layout-border-radius);

  --chat-message-chat-text: var(--rc-white);
  --chat-message-chat-contrast-text: var(--rw-primary-text);

  --chat-message-chat-background-sent: #{$sent-color};
  --chat-message-chat-background-received: #{$received-color};
}

@include roq-component("chat-message-bubble") {
  $container: &;

  display: inline-flex;
  padding: var(--chat-message-chat-padding);
  border-radius: var(--chat-message-chat-radius);

  color: var(--chat-message-chat-text);

  &__content {
    margin: 0;
    overflow-wrap: "break-word";
    word-break: "break-word";
  }

  &-sent {
    background-color: var(--chat-message-chat-background-sent);
  }

  &-received {
    color: var(--chat-message-chat-contrast-text);
    background-color: var(--chat-message-chat-background-received);
  }

  &-corner {
    &#{$container} {
      &-sent {
        border-bottom-right-radius: 0px;
      }
      &-received {
        border-bottom-left-radius: 0px;
      }
    }
  }
}
