@import "../../../styles/styles.scss";

:root {
  --rc-chat-message-bubble-padding: calc(var(--rc-layout-step) * 3);
  --rc-chat-message-bubble-radius: var(--rc-layout-border-radius);
  --rc-chat-message-bubble-font-weight: var(--rc-default-font-weight);
  --rc-chat-message-bubble-font-size: var(--rc-default-font-size);
  --rc-chat-message-bubble-color: var(--rc-blueGray-900);

  --rc-chat-message-bubble-sent-padding: var(--rc-chat-message-bubble-padding);
  --rc-chat-message-bubble-sent-radius: var(--rc-chat-message-bubble-radius);
  --rc-chat-message-bubble-sent-font-weight: var(
    --rc-chat-message-bubble-font-weight
  );
  --rc-chat-message-bubble-sent-font-size: var(
    --rc-chat-message-bubble-font-size
  );
  --rc-chat-message-bubble-sent-color: var(--rc-white);
  --rc-chat-message-bubble-sent-background-color: var(--rc-primary);

  --rc-chat-message-bubble-received-padding: var(
    --rc-chat-message-bubble-padding
  );
  --rc-chat-message-bubble-received-radius: var(
    --rc-chat-message-bubble-radius
  );
  --rc-chat-message-bubble-received-font-weight: var(
    --rc-chat-message-bubble-font-weight
  );
  --rc-chat-message-bubble-received-font-size: var(
    --rc-chat-message-bubble-font-size
  );
  --rc-chat-message-bubble-received-color: var(--rc-chat-message-bubble-color);
  --rc-chat-message-bubble-received-background-color: var(--rc-blueGray-200);
}

@include roq-component("chat-message-bubble") {
  $container: &;

  display: inline-flex;
  padding: var(--rc-chat-message-bubble-sent-padding);
  border-radius: var(--rc-chat-message-bubble-radius);

  &__content {
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &-sent {
    padding: var(--rc-chat-message-bubble-sent-padding);
    border-radius: var(--rc-chat-message-bubble-sent-radius);
    font-weight: var(--rc-chat-message-bubble-sent-font-weight);
    color: var(--rc-chat-message-bubble-sent-color);
    background-color: var(--rc-chat-message-bubble-sent-background-color);
  }

  &-received {
    padding: var(--rc-chat-message-bubble-received-padding);
    border-radius: var(--rc-chat-message-bubble-received-radius);
    font-weight: var(--rc-chat-message-bubble-received-font-weight);
    color: var(--rc-chat-message-bubble-received-color);
    background-color: var(--rc-chat-message-bubble-received-background-color);
  }

  &-corner {
    &#{$container} {
      &-sent {
        border-bottom-right-radius: 0px;
      }
      &-received {
        border-bottom-left-radius: 0px;
      }
    }
  }
}
