@import "../../../styles/styles.scss";

:root {
  --rc-chat-message-editor-padding: calc(var(--rc-step) * 2);
  --rc-chat-message-editor-radius: var(--rc-border-radius);
  --rc-chat-message-editor-border: none;
  --rc-chat-message-editor-background: var(--rc-color-white);

  --rc-chat-message-editor-font-weight: var(--rc-font-weight-normal);
  --rc-chat-message-editor-font-size: 0.875rem;
}

@include roq-component("chat-message-editor") {
  $container: &;

  padding: var(--rc-chat-message-editor-padding);
  border-radius: var(--rc-chat-message-editor-radius);
  border: var(--rc-chat-message-editor-border);
  background-color: var(--rc-chat-message-editor-background);

  font-weight: var(--rc-chat-message-editor-font-weight);
  font-size: var(--rc-chat-message-editor-font-size);

  resize: none;
  outline: none;
  overflow: scroll;
  position: relative;

  overflow-wrap: break-word;

  &__textarea {
    @include typography;
  }
}
