:root {
  --rw-avatar-group: 32px;
  --rw-avatar-group-spacing: 8px;
  --rw-avatar-group-item-margin: 0px calc(var(--rw-avatar-group-spacing) * -1) 0px 0px;
}

.roq-widget-avatar-group {
  display: flex;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  list-style-type: none !important;
  padding-right: var(--rw-avatar-group-spacing);
}

.roq-widget-avatar-group_stack {
}

.roq-widget-avatar-group_grid {
}

.roq-widget-avatar-group__item {
  margin: var(--rw-avatar-group-item-margin);
}
