/* :root {
  --rw-border-radius: 8px;
  --rw-margin-step: 8px;
  --rw-primary-font: Helvetica, Arial, sans-serif;

  --rw-primary-text: #091e42;
  --rw-secondary-text: #6b778c;
  --rw-tertiary-text: #878c95;

  --rw-message-text: #ffffff;
  --rw-message-contrast-text: var(--rw-primary-text);

  --rw-message-padding: calc(var(--rw-margin-step));
  --rw-message-radius: var(--rw-border-radius);

  --rw-message-background-sent: #0f172a;
  --rw-message-background-received: #e2e8f0;
} */

.roq-widget-message-bubble {
  padding: var(--rw-message-padding);
  border-radius: var(--rw-message-radius);
  color: var(--rw-message-text);
  font-family: var(--rw-primary-font);
  display: inline-flex;
}

.roq-widget-message-bubble__content {
  margin: 0;
  overflow-wrap: 'break-word';
  word-break: 'break-word';
}

.roq-widget-message-bubble_sent {
  background-color: var(--rw-message-background-sent);
}

.roq-widget-message-bubble_received {
  color: var(--rw-message-contrast-text);
  background-color: var(--rw-message-background-received);
}

.roq-widget-message-bubble_corner.roq-widget-message-bubble_sent {
  border-bottom-right-radius: 0px;
}

.roq-widget-message-bubble_corner.roq-widget-message-bubble_received {
  border-bottom-left-radius: 0px;
}
