:root {
  --rw-badge: 32px;
}

.roq-widget-badge {
  box-sizing: border-box;
  appearance: none;
  border: none;
  display: inline-flex;
  position: relative;
  padding-block: 2px;
  padding-inline: 6px;
  border-radius: 8px;

  background-color: var(--ds-background-neutral, #dfe1e6);
  color: var(--ds-text, #172b4d);
}

.roq-widget-badge__inner {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}
