@import "../../../styles/styles.scss";

$badge-size: 10px;

:root {
  --rc-badge-text-color: var(--rc-color-white);
  --rc-badge-background-color: var(--rc-color-red);

  --rc-badge-width: #{$badge-size};
  --rc-badge-height: #{$badge-size};

  --rc-badge-border-radius: 50%;
}

@include roq-component("badge") {
  width: 100%;
  height: 100%;
  position: relative;

  &__count {
    z-index: auto;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    line-height: var(--rc-badge-height);

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;

    color: var(--rc-badge-text-color);
    background: var(--rc-badge-background-color);

    width: var(--rc-badge-width);
    height: var(--rc-badge-height);
    border-radius: var(--rc-badge-border-radius);
    padding: 1.5px 0;

    font-family: "Urbanist";
    font-style: normal;
    font-weight: 700;
    font-size: 7px;
    line-height: 8px;
  }
}
