@import "../../../styles/styles.scss";

$avatar-border-width: 2px;
$avatar-border-color: #ffffff;

$avatar-image-font-color: $white;
$avatar-image-primary-color: #ffffff;
$avatar-image-default-padding: 2px;

$avatar-size_small: 24px;
$avatar-font-size_small: 0.65rem;

$avatar-size_medium: 38px;
$avatar-font-size_medium: 0.75rem;

$avatar-size_large: 48px;
$avatar-font-size_large: 1rem;

:root {
  --rc-avatar-border-width: #{$avatar-border-width};
  --rc-avatar-border-color: #{$avatar-border-color};

  --rc-avatar-image-font-color: #{$avatar-image-font-color};
  --rc-avatar-image-primary-color: #{$avatar-image-primary-color};
  --rc-avatar-image-default-padding: #{$avatar-image-default-padding};

  --rc-avatar-size_small: #{$avatar-size_small};
  --rc-avatar-font-size_small: #{$avatar-font-size_small};

  --rc-avatar-size_medium: #{$avatar-size_medium};
  --rc-avatar-font-size_medium: #{$avatar-font-size_medium};

  --rc-avatar-size_large: #{$avatar-size_large};
  --rc-avatar-font-size_large: #{$avatar-font-size_large};
}

@include roq-component("avatar") {
  background-color: var(--rc-primary);
  color: var(--rc-avatar-image-font-color);
  font-size: var(--rc-font-size__large);

  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  user-select: none;

  &-rounded {
    border-radius: 50%;
  }

  &-square {
    border-radius: var(--rc-border-radius);
  }

  &-border {
    border: var(--rc-avatar-border-width) solid var(--rc-avatar-border-color);
  }

  &_size {
    &-small {
      width: var(--rc-avatar-size_small);
      height: var(--rc-avatar-size_small);
      font-size: var(--rc-avatar-font-size_small);
    }

    &-medium {
      width: var(--rc-avatar-size_medium);
      height: var(--rc-avatar-size_medium);
      font-size: var(--rc-avatar-font-size_medium);
    }

    &-large {
      width: var(--rc-avatar-size_large);
      height: var(--rc-avatar-size_large);
      font-size: var(--rc-avatar-font-size_large);
    }
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1 100%;

    &-default {
      object-fit: cover;
      color: transparent;
      text-indent: 10000px;
      padding: var(--rc-avatar-image-default-padding);
    }

    svg {
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      color: var(--rc-avatar-image-primary-color);
      vertical-align: bottom;
    }
  }
}
