@import "../../../styles/styles.scss";

$avatar-border-width: 1px;
$avatar-border-color: var(--rc-color-white);

$avatar-image-font-color: var(--rc-color-card);
$avatar-image-primary-color: var(--rc-color-card);
$avatar-image-default-padding: 2px;

$avatar-tiny-size: 16px;
$avatar-tiny-font-size: 0.5rem;

$avatar-extra-small-size: 26px;
$avatar-extra-small-font-size: var(--rc-font-size-xs);

$avatar-small-size: 35px;
$avatar-small-font-size: var(--rc-font-size-sm);

$avatar-medium-size: 42px;
$avatar-medium-font-size: var(--rc-font-size-base);

$avatar-large-size: 46px;
$avatar-large-font-size: var(--rc-font-size-xl);

$avatar-extra-large-size: 50px;
$avatar-extra-large-font-size: var(--rc-font-size-2xl);

:root {
  --rc-avatar-border-background: var(--rc-color-secondary);

  --rc-avatar-border-width: #{$avatar-border-width};
  --rc-avatar-border-color: #{$avatar-border-color};

  --rc-avatar-image-font-color: #{$avatar-image-font-color};
  --rc-avatar-image-primary-color: #{$avatar-image-primary-color};
  --rc-avatar-image-default-padding: #{$avatar-image-default-padding};

  --rc-avatar-tiny-size: #{$avatar-tiny-size};
  --rc-avatar-tiny-font-size: #{$avatar-tiny-font-size};

  --rc-avatar-extra-small-size: #{$avatar-extra-small-size};
  --rc-avatar-extra-small-font-size: #{$avatar-extra-small-font-size};

  --rc-avatar-small-size: #{$avatar-small-size};
  --rc-avatar-small-font-size: #{$avatar-small-font-size};

  --rc-avatar-medium-size: #{$avatar-medium-size};
  --rc-avatar-medium-font-size: #{$avatar-medium-font-size};

  --rc-avatar-large-size: #{$avatar-large-size};
  --rc-avatar-large-font-size: #{$avatar-large-font-size};

  --rc-avatar-extra-large-size: #{$avatar-extra-large-size};
  --rc-avatar-extra-large-font-size: #{$avatar-extra-large-font-size};
}

@include roq-component("avatar") {
  background-color: var(--rc-avatar-border-background);

  color: var(--rc-avatar-image-font-color);
  font-size: var(--rc-font-size__large);

  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  user-select: none;

  &--rounded {
    border-radius: 50%;
  }

  &--square {
    border-radius: var(--rc-border-radius);
  }

  &--border,
  &--initials {
    border: var(--rc-avatar-border-width) solid var(--rc-avatar-border-color);
  }

  &--size {
    &-tiny {
      width: var(--rc-avatar-tiny-size);
      height: var(--rc-avatar-tiny-size);
      font-size: var(--rc-avatar-tiny-font-size);
    }

    &-extra-small {
      width: var(--rc-avatar-extra-small-size);
      height: var(--rc-avatar-extra-small-size);
      font-size: var(--rc-avatar-extra-small-font-size);
    }

    &-small {
      width: var(--rc-avatar-small-size);
      height: var(--rc-avatar-small-size);
      font-size: var(--rc-avatar-small-font-size);
    }

    &-medium {
      width: var(--rc-avatar-medium-size);
      height: var(--rc-avatar-medium-size);
      font-size: var(--rc-avatar-medium-font-size);
    }

    &-large {
      width: var(--rc-avatar-large-size);
      height: var(--rc-avatar-large-size);
      font-size: var(--rc-avatar-large-font-size);
    }

    &-extra-large {
      width: var(--rc-avatar-extra-large-size);
      height: var(--rc-avatar-extra-large-size);
      font-size: var(--rc-avatar-extra-large-font-size);
    }
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1 100%;

    &-default {
      object-fit: cover;
      color: transparent;
      text-indent: 10000px;
      padding: var(--rc-avatar-image-default-padding);
    }

    svg {
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      color: var(--rc-avatar-image-primary-color);
      vertical-align: bottom;
    }
  }
}
