/* :root {
  --rw-border-radius: 8px;
  --rw-margin-step: 8px;
  --rw-primary-font: Helvetica, Arial, sans-serif;
  --rw-weight-medium: 600;

  --rw-primary-text: #091e42;
  --rw-secondary-text: #6b778c;
  --rw-tertiary-text: #878c95;
} */

.roq-recipient {
  position: relative;
  cursor: pointer;

  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.roq-recipient:hover,
.roq-recipient_active {
  color: #1e293b;
  background-color: #e2e8f0;
}
