@import "../../../styles/styles.scss";

:root {
  --roq-components-before-text-align: center;
  --roq-components-content-position: relative;
}

@include roq-component("chat-message-history-line") {
  display: flex;
  flex-direction: column;

  &__before {
    text-align: var(--roq-components-before-text-align);
  }

  &__content {
    position: var(--roq-components-content-position);
  }

  &__after {
  }
}
