$screen-xs-min: 0;
$screen-sm-min: '480px';
$screen-md-min: '768px';
$screen-lg-min: '1024px';
$screen-xl-min: '1440px';
$screen-xxl-min: '1920px';
$screen-xxxl-min: '2560px';

// TODO: create mixin for CSS variables
:root {
  --rw-screen-xs-min: #{$screen-xs-min};
  --rw-screen-sm-min: #{$screen-sm-min};
  --rw-screen-md-min: #{$screen-md-min};
  --rw-screen-lg-min: #{$screen-lg-min};
  --rw-screen-xl-min: #{$screen-xl-min};
  --rw-screen-xxl-min: #{$screen-xxl-min};
  --rw-screen-xxxl-min: #{$screen-xxxl-min};
}
