@import "~@radix-ui/colors/gray.css";
@import "~@radix-ui/colors/blue.css";
@import "~@radix-ui/colors/green.css";
@import "~@radix-ui/colors/red.css";
@import "~@radix-ui/colors/grayDark.css";
@import "~@radix-ui/colors/blueDark.css";
@import "~@radix-ui/colors/greenDark.css";
@import "~@radix-ui/colors/redDark.css";

.button {
  background-color: var(--blue4);
  color: var(--blue11);
  border-color: var(--blue7);
}
