@import "../../../styles/styles.scss";

.roq-switch-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0 !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: var(--rc-black);
  -webkit-tap-highlight-color: transparent;
}

.roq-switch-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.roq-switch-toggle-check, .roq-switch-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity .25s ease;
}
.roq-switch-toggle-check {
  left: 8px;
}
.roq-switch-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.roq-switch-toggle-uncheck span, 
.roq-switch-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.roq-switch-toggle-container{
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: var(--rc-blueGray-800);
  transition: all .2s ease;
}

.roq-switch-toggle-circle {
  transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid var(--rc-blueGray-800);
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all .25s ease;
}

.roq-switch-toggle--checked .roq-switch-toggle-check{
  opacity: 1;
  > .roq-switch-toggle-container {
    background-color: var(--rc-primary);
  }
  > .roq-switch-toggle-circle { 

  }
}
.roq-switch-toggle--checked{
  > .roq-switch-toggle-container {
    background-color: var(--rc-primary);
  }
  > .roq-switch-toggle-circle { 
    border: 1px solid var(--rc-primary);
  }
}
.roq-switch-toggle--checked .roq-switch-toggle-uncheck {
  opacity: 0;
}
.roq-switch-toggle--checked .roq-switch-toggle-circle {
  left: 27px;
}