@import "../../../styles/styles.scss";

:root {
  --rc-chat-panel-width: 100%;
  --rc-chat-panel-height: 100%;
  --rc-chat-panel-display: flex;
  --rc-chat-panel-flex-grow: 1;
  --rc-chat-panel-flex-direction: column;
  --rc-chat-panel-min-width: 0;
  --rc-chat-panel-background: var(--rc-white);
  --rc-chat-panel-overwlow: hidden;
  --rc-chat-panel-border: none;
  --rc-chat-panel-radius: var(--rc-layout-border-radius);
  --rc-chat-panel-box-shadow: 0px 4px 16px rgba(13, 28, 70, 0.05);
}

@include roq-component("chat-panel") {
  width: var(--rc-chat-panel-width);
  height: var(--rc-chat-panel-height);
  display: var(--rc-chat-panel-display);
  flex-grow: var(--rc-chat-panel-flex-grow);
  min-width: var(--rc-chat-panel-min-width);
  flex-direction: var(--rc-chat-panel-flex-direction);
  overflow: var(--rc-chat-panel-overflow);
  border: var(--rc-chat-panel-border);
  box-shadow: var(--rc-chat-panel-box-shadow);
  background: var(--rc-chat-panel-background);
  border-radius: var(--rc-chat-panel-radius);
}
