@import "../../../styles/styles.scss";

$send-button-width: 103px;
$send-button-height: 36px;

:root {
  --rc-chat-message-input-padding: calc(var(--rc-layout-step) * 6);
  --rc-chat-message-input-border-color: var(--rc-divider);
  --rc-chat-message-input-border-width: 2px;
  --rc-chat-message-input-border-style: solid;

  --rc-chat-message-input-textarea-margin: 0 calc(var(--rc-layout-step) * 2) 0
    var(--rc-layout-step);

  --rc-chat-message-input-send-button-display: flex;
  --rc-chat-message-input-send-button-flex-direction: row;
  --rc-chat-message-input-send-button-justify-content: space-between;
  --rc-chat-message-input-send-button-align-items: center;

  --rc-chat-message-input-send-button-cursor: pointer;
  --rc-chat-message-input-send-button-border: none;
  --rc-chat-message-input-send-button-width: #{$send-button-width};
  --rc-chat-message-input-send-button-height: #{$send-button-height};
  --rc-chat-message-input-send-button-color: var(--rc-blueGray-50);
  --rc-chat-message-input-send-button-background: var(--rc-primary);
  --rc-chat-message-input-send-button-pading: calc(var(--rc-layout-step) / 1.5)
    calc(var(--rc-layout-step) * 4);
  --rc-chat-message-input-send-button-shadow: 0px 4px 16px
    rgba(13, 28, 70, 0.15);
  --rc-chat-message-input-send-button-radius: var(--rc-layout-border-radius);

  --rc-chat-message-input-send-button-label-color: var(
    --rc-chat-message-input-send-button-color
  );

  --rc-chat-message-input-send-button-label-font-weight: var(
    --rc-font-weight-bolder
  );
  --rc-chat-message-input-send-button-label-text-transform: uppercase;
}

@include roq-component("chat-message-input") {
  $container: &;
  padding: var(--rc-chat-message-input-padding);

  border-top-color: var(--rc-chat-conversation-header-border-color);
  border-top-width: var(--rc-chat-conversation-header-border-width);
  border-top-style: var(--rc-chat-message-input-border-style);

  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;

  &__textarea {
    flex: 1;
    margin: var(--rc-chat-message-input-textarea-margin);
    border: none;
    outline: none;

    @include typography;
  }

  &__send-button {
    display: var(--rc-chat-message-input-send-button-display);
    flex-direction: var(--rc-chat-message-input-send-button-flex-direction);
    justify-content: var(--rc-chat-message-input-send-button-justify-content);
    align-items: var(--rc-chat-message-input-send-button-align-items);

    cursor: var(--rc-chat-message-input-send-button-cursor);
    border: var(--rc-chat-message-input-send-button-border);
    width: var(--rc-chat-message-input-send-button-width);
    height: var(--rc-chat-message-input-send-button-height);
    padding: var(--rc-chat-message-input-send-button-pading);
    background: var(--rc-chat-message-input-send-button-background);
    color: var(--rc-chat-message-input-send-button-color);
    box-shadow: var(--rc-chat-message-input-send-button-shadow);
    border-radius: var(--rc-chat-message-input-send-button-radius);

    &__label {
      font-weight: var(--rc-chat-message-input-send-button-label-font-weight);
      color: var(-rc--chat-message-input-send-button-label-color);
      text-transform: var(
        --rc-chat-message-input-send-button-label-text-transform
      );
    }

    &__icon,
    svg {
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      vertical-align: bottom;

      color: transparent;
      fill: transparent;
    }
  }
}
