@import "../../../styles/styles.scss";

@mixin item {
  all: unset;
  background-color: $blueGray-200;
  color: map-get($light-pallete, 'black');
  height: 35px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  text-transform: uppercase;
  padding: 4px 8px;
}


.roq-toggle-group-button {
  display: inline-flex;
  overflow: hidden;
  border-radius: 4px;  
  margin-bottom: 1rem;
}
.roq-toggle-group-button > .roq-toggle-group-button-item {
  @include item;
  &:hover {
    background-color: $blueGray-300;
  }
}
.roq-toggle-group-button > .roq-toggle-group-button-item__selected {
  @include item;
  background-color: map-get($light-pallete, 'black');
  color: map-get($light-pallete, 'white');
}
.roq-toggle-group-button > .roq-toggle-group-button-item:last-child {
  border-right: none;
}
