/* :root {
  --rw-border-radius: 8px;
  --rw-margin-step: 8px;
  --rw-primary-font: Helvetica, Arial, sans-serif;
  --rw-weight-medium: 600;

  --rw-primary-text: #091e42;
  --rw-secondary-text: #6b778c;
  --rw-tertiary-text: #878c95;

  --rw-message-history-spacing: var(--rw-margin-step);
} */

.roq-widget-message-history {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.roq-widget-message-history__line {
  display: flex;
  margin-bottom: var(--rw-message-history-spacing);
}

.roq-widget-message-history__line_sent {
  justify-content: flex-end;
}

.roq-widget-message-history__line_received {
  justify-content: flex-start;
}

.roq-widget-message-history__line__message {
}
