@import "../../../styles/styles.scss";

$chat-message-user-font-size: 0.92em;

:root {
  --rc-chat-message-width: 100%;
  --rc-chat-message-display: flex;
  --rc-chat-message-align-items: flex-start;
  --rc-chat-message-text-flex-direction: row;
  --rc-chat-message-text-align: left;

  --rc-chat-message-sent-flex-direction: row-reverse;
  --rc-chat-message-sent-text-align: left;

  --rc-chat-message-user-margin: 0 calc(var(--rc-layout-step) * 4.5) 0 0;
  --rc-chat-message-sent-user-margin: 0 0 0 calc(var(--rc-layout-step) * 4.5);

  --rc-chat-message-time-margin: calc(var(--rc-layout-step) * 2) 0 0 0;
  --rc-chat-message-time-color: var(--rc-blueGray-500);

  --rc-chat-message-message-max-width: 77%;
}

@include roq-component("chat-message") {
  $container: &;

  width: var(--rc-chat-message-width);
  display: var(--rc-chat-message-display);
  align-items: var(--rc-chat-message-align-items);
  flex-direction: var(--rc-chat-message-flex-direction);
  text-align: var(--rc-chat-message-text-align);

  &--sent {
    text-align: var(--rc-chat-message-sent-text-align);
    flex-direction: var(--rc-chat-message-sent-flex-direction);
  }

  &__user {
    margin: var(--rc-chat-message-user-margin);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: var(--rc-chat-message-message-max-width);


    &__content {
      &__message {
        float: left;
      }
    }

    &__time {
      margin: var(--rc-chat-message-time-margin);
      color: var(--rc-chat-message-time-color);
    }
  }

  &--sent {
    #{$container} {
      &__user {
        margin: var(--rc-chat-message-sent-user-margin);
      }

      &__inner {
        &__content {
          &__message {
            float: right;
          }
        }

        &__time {
          text-align: right;
        }
      }
    }
  }
}
