@import "../../../styles/styles.scss";

:root {
  --rc-chat-message-list-list-padding: calc(var(--rc-layout-step) * 7)
    calc(var(--rc-layout-step) * 8) calc(var(--rc-layout-step) * 5)
    calc(var(--rc-layout-step) * 8);
}

@include roq-component("chat-message-list") {
  width: 100%;
  min-height: 165px;
  max-height: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: auto;

  &__list {
    padding: var(--rc-chat-message-list-list-padding);

    &__loader {
      flex: 1;
      flex-shrink: 0;
      height: 1px;
      width: 100%;

      text-align: center;
    }
  }
}
