@import "../../../styles/styles.scss";

.roq-notification-bell {
  display: flex;
  > svg {
    margin-top: 8px;
  }
  &-badge {
    background-color: var(--rc-badge-background-color);
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
  }
}