@import "../../../styles/styles.scss";

:root {
  --rc-message-center-flex: flex;
  --rc-message-center-flex-direction: column;
  --rc-message-center-width: 100%;
  --rc-message-center-min-width: 100%;
  --rc-message-center-height: 100%;
  --rc-message-center-gap: calc(var(--rc-layout-step) * 6);

  --rc-message-center-header-title-font-weight: var(--rc-font-weight-bold);
  --rc-message-center-header-title-font-size: 1.125rem;
  --rc-message-center-header-title-color: var(--rc-blueGray-900);
  --rc-message-center-header-title-margin: 0;
  --rc-message-center-header-height: 36px;

  --rc-message-center-content-display: flex;
  --rc-message-center-content-flex-grow: 1;
  --rc-message-center-content-flex-direction: row;
  --rc-message-center-content-align-items: stretch;
  --rc-message-center-content-width: 100%;
  --rc-message-center-content-height: calc(
    100% -
      (var(--rc-message-center-header-height) + var(--rc-message-center-gap))
  );
  --rc-message-center-content-min-width: 100%;
  --rc-message-center-content-background: transparent;
  --rc-message-center-content-overwlow: hidden;
  --rc-message-center-content-border: none;
  --rc-message-center-content-radius: 0;
  --rc-message-center-content-box-shadow: none;
  --rc-message-center-content-spacing: calc(var(--rc-layout-step) * 6);

  --rc-message-center-content-sidebar-width: 400px;
  --rc-message-center-content-sidebar-flex-shrink: 0;
  --rc-message-center-content-sidebar-min-width: 0;

  --rc-message-center-content-chat-flex-grow: 1;
  --rc-message-center-content-chat-flex-shrink: 0;
  --rc-message-center-content-chat-min-width: 0;
}

@include roq-component("message-center") {
  display: var(--rc-message-center-flex);
  flex-direction: var(--rc-message-center-flex-direction);

  width: var(--rc-message-center-width);
  min-width: var(--rc-message-center-min-width);
  height: var(--rc-message-center-height);
  gap: var(--rc-message-center-gap);

  &__header {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: var(--rc-message-center-header-height);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

    &__title {
      font-size: var(--rc-message-center-header-title-font-size);
      font-weight: var(--rc-message-center-header-title-font-weight);
      color: var(--rc-message-center-header-title-color);
      margin: var(--rc-message-center-header-title-margin);
    }

    &__button {
      display: var(--rc-chat-message-input-send-button-display);
      flex-direction: var(--rc-chat-message-input-send-button-flex-direction);
      justify-content: var(--rc-chat-message-input-send-button-justify-content);
      align-items: var(--rc-chat-message-input-send-button-align-items);

      cursor: var(--rc-chat-message-input-send-button-cursor);
      border: var(--rc-chat-message-input-send-button-border);
      min-width: var(--rc-chat-message-input-send-button-width);
      height: var(--rc-chat-message-input-send-button-height);
      padding: var(--rc-chat-message-input-send-button-pading);
      background: var(--rc-chat-message-input-send-button-background);
      color: var(--rc-chat-message-input-send-button-color);
      box-shadow: var(--rc-chat-message-input-send-button-shadow);
      border-radius: var(--rc-chat-message-input-send-button-radius);

      &__label {
        font-weight: var(--rc-chat-message-input-send-button-label-font-weight);
        color: var(-rc--chat-message-input-send-button-label-color);
        text-transform: var(
          --rc-chat-message-input-send-button-label-text-transform
        );
      }

      &__icon,
      svg {
        overflow: hidden;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
        vertical-align: bottom;

        color: transparent;
        fill: transparent;
      }
    }
  }

  &__content {
    box-sizing: border-box;
    display: var(--rc-message-center-content-display);
    height: var(--rc-message-center-content-height);
    width: var(--rc-message-center-content-width);
    min-width: var(--rc-message-center-content-min-width);
    flex-grow: var(--rc-message-center-content-flex-grow);
    flex-direction: var(--rc-message-center-content-flex-direction);
    align-items: var(--rc-message-center-content-align-items);
    overflow: var(--rc-message-center-content-overflow);
    border: var(--rc-message-center-content-border);
    box-shadow: var(--rc-message-center-content-box-shadow);
    background: var(--rc-message-center-content-background);
    border-radius: var(--rc-message-center-content-radius);
    gap: var(--rc-message-center-content-spacing);

    &__sidebar {
      width: var(--rc-message-center-content-sidebar-width);
      flex-shrink: var(--rc-message-center-content-sidebar-flex-shrink);
      min-width: var(--rc-message-center-content-sidebar-min-width);
    }

    &__chat {
      flex-shrink: var(--rc-message-center-content-chat-flex-shrink);
      min-width: var(--rc-message-center-content-chat-min-width);
    }
  }
}
