@import "../../../styles/styles.scss";

@include roq-component("card") {
  border-width: 1px;
  border-color: $blueGray-200;
  border-style: solid;
  min-width: 240px;
  max-width: 480px;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 12px;
}

@include roq-component("card-body") {
  padding: 1rem;
  font-Size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: map-get($light-pallete, 'text')
}

@include roq-component("card-header") {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

@include roq-component("card-header-extra") {
  color: var(--rc-blueGray-800);
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.15px;
}

@include roq-component("card-title") {
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.15px;
  color: var(--rc-color-RB-90);
}

@include roq-component("card-subtitle") {
  overflow: hidden;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.15px;
  font-weight: 300;
  color: var(--rc-color-RB-70)
}
