@import "../../../styles/styles.scss";


:root {
  --rc-notification-bg-color: var(--rc-theme-light-color-background);
}

@include roq-component("notification") {
  background-color: var(--rc-notification-bg-color);
  border-radius: 1rem;
  max-width: 420px;
  border: 1px solid var(--rc-theme-light-color-border);
}

@include roq-component("notification-title") {
  padding: 1rem;
  padding-bottom: 0;
  color: var(--rc-primary-text-color);
  font-weight: 600;
  font-size: 1.125rem;
}

@include roq-component("notification-item") {
  margin: 1rem;
  border: none !important;
  .roq-component-action-button {
    margin-right: -16px;
    width: 32px;
    height: 32px;
  }
  .roq-component-action-button__button {
    width: 32px;
    height: 32px;
  }
  .roq-component-card-header {
    padding-bottom: 0;
    height: 48px;
  }
  .roq-component-card-body {
    padding-top: 0.125rem;
    line-height: 22px;
  }
}

@include roq-component("notification-item__unseen") {
  border-top-left-radius: 4px 8px !important;
  border-bottom-left-radius: 4px 8px !important;
  border-left: 4px solid var(--rc-theme-light-color-primary) !important;
}

@include roq-component("notification-item-content") {
  position: relative;
  > span {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 4px;
      height: 4px;
      color: var(--rc-error)
  }
  p:nth-child(2) {
    font-size: 0.75rem;
    color: var(--rc-color-RB-70);
  }
}

@include roq-component("notification-empty-state") {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  p {
    color: var(--rc-color-RB-70);
  }
}
