@import "../../../styles/styles.scss";

$notification-title-mb: 16px;

:root {
  --rc-notification-title-mb: #{$notification-title-mb}px;
}

@include roq-component("notification") {
  padding: 1rem;
}
@include roq-component("notification-title") {
  color: var(--rc-primary-text-color);
  margin-bottom: #{$notification-title-mb};
  > .roq-component-avatar {
    display: inline-flex;
    margin-left: 0.5rem;
    background-color: $blueGray-900;
    font-weight: medium;
    font-size: 0.875rem;
    width: 36px;
    height: 36px;
  }
}

@include roq-component("notification-item__unseen") {
  border-top-left-radius: 4px 8px !important;
  border-bottom-left-radius: 4px 8px !important;
  border-left: 4px solid var(--rc-theme-light-color-primary) !important;
}

@include roq-component("notification-item-content") {
  position: relative;
  > span {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 4px;
      height: 4px;
      color: var(--rc-error)
  }
}
