@import "../../../styles/styles.scss";

$notification-bell-size: 50;

:root {
  --rc-chat-notification-bell-size: #{$notification-bell-size}px;

  --rc-chat-notification-bell-button-padding: calc(var(--rc-step) * 1.75);
  --rc-chat-notification-bell-button-border: 1px solid transparent;
  --rc-chat-notification-bell-button-radius: var(--rc-border-radius);

  --rc-chat-notification-bell-button-background: transparent;
  --rc-chat-notification-bell-button-border-color: var(--rc-color-border);

  --rc-chat-notification-bell-button-hover-background: var(
    --rc-chat-notification-bell-button-background
  );
  --rc-chat-notification-bell-button-hover-border-color: var(
    --rc-color-primary
  );

  --rc-chat-notification-bell-button-focus-background: #eaf8fd;
  --rc-chat-notification-bell-button-focus-border-color: var(
    --rc-color-primary
  );

  --rc-chat-notification-bell-button-active-background: #eaf8fd;
  --rc-chat-notification-bell-button-active-border-color: var(
    --rc-color-primary
  );

  --rw-primary-text-color: var(--rc-white);

  --rc-chat-notification-bell-icon-color: var(--rc-color-primary);
}

@include roq-component("chat-notification-bell") {
  $container: &;
  position: relative;
  width: var(--rc-chat-notification-bell-size);
  height: var(--rc-chat-notification-bell-size);

  &__button {
    width: 100%;
    height: 100%;

    border: var(--rc-chat-notification-bell-button-border);
    border-color: var(--rc-chat-notification-bell-button-border-color);
    border-radius: var(--rc-chat-notification-bell-button-radius);

    cursor: pointer;
    padding: var(--rc-chat-notification-bell-button-padding);

    background-color: var(--rc-chat-notification-bell-button-background);
    &:hover {
      border-color: var(--rc-chat-notification-bell-button-active-border-color);
      background-color: var(
        --rc-chat-notification-bell-button-active-background
      );
    }

    &:active {
      border-color: var(--rc-chat-notification-bell-button-focus-border-color);
      background-color: var(
        --rc-chat-notification-bell-button-focus-background
      );
    }

    &.active {
      border-color: var(--rc-chat-notification-bell-button-focus-border-color);
      background-color: var(
        --rc-chat-notification-bell-button-focus-background
      );
    }

    &__icon,
    svg {
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      color: var(--rc-chat-notification-bell-icon-color);
      vertical-align: bottom;

      fill: currentcolor;
    }
  }

  &__badge {
    &-hidden {
      width: 0;
      height: 0;
    }
  }
}
