@import "../../../styles/styles.scss";

$notification-bell-size: 48;

$notification-bell-button-background-color: transparent;
$notification-bell-button-background-hover-color: rgba(15, 23, 42, 0.04);
$notification-bell-button-background-active-color: rgba(15, 23, 42, 0.2);
$notification-bell-button-background-focus-color: #{$notification-bell-button-background-active-color};

$notification-bell-icon-color: rgb(113 113 113);

:root {
  --rc-chat-notification-bell-size: #{$notification-bell-size}px;

  --rc-chat-notification-bell-button-padding: calc(var(--rc-layout-step) * 3);
  --rc-chat-notification-bell-button-background: #{$notification-bell-button-background-color};
  --rc-chat-notification-bell-button-hover-background: #{$notification-bell-button-background-hover-color};
  --rc-chat-notification-bell-button-focus-background: #{$notification-bell-button-background-focus-color};
  --rc-chat-notification-bell-button-active-background: #{$notification-bell-button-background-active-color};

  --rw-primary-text-color: var(--rc-white);

  --rc-chat-notification-bell-icon-color: #{$notification-bell-icon-color};
}

@include roq-component("chat-notification-bell") {
  position: relative;
  width: var(--rc-chat-notification-bell-size);
  height: var(--rc-chat-notification-bell-size);

  &__button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    padding: var(--rc-chat-notification-bell-button-padding);

    background-color: var(--rc-chat-notification-bell-button-background);
    &:hover {
      background-color: var(
        --rc-chat-notification-bell-button-active-background
      );
    }

    &:active {
      background-color: var(
        --rc-chat-notification-bell-button-focus-background
      );
    }

    &__icon,
    svg {
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      color: var(--rc-chat-notification-bell-icon-color);
      vertical-align: bottom;

      fill: currentcolor;
    }
  }

  &__badge {
  }
}
