@import "../../../styles/styles.scss";

$notification-bell-size: 42;

:root {
  --rw-chat-notification-bell-size: #{notification-bell-size}px;

  --rw-chat-notification-bell-background: var(--rc-white);
  --rw-chat-notification-bell-button-pading: 2;
  --rw-chat-notification-bell-active-background: var(--rc-black);

  --rw-primary-text-color: var(--rc-white);
}

@include roq-component("chat-notification-bell") {
  width: var(--rw-chat-notification-bell-size);
  height: var(--rw-chat-notification-bell-size);
  box-sizing: border-box;
  position: relative;

  &__button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    background-color: var(--rw-chat-notification-bell-background);
    cursor: pointer;
    padding: var(--rw-chat-notification-bell-button-pading);

    &:hover,
    &:focus {
      background-color: var(--rw-chat-notification-bell-active-background);
    }

    &__icon,
    svg {
      overflow: hidden;
      pointer-events: none;
      max-width: 100%;
      max-height: 100%;
      color: var(--rw-primary-text);
      vertical-align: bottom;

      fill: currentcolor;
    }
  }

  &__badge {
    position: absolute;
    top: var(--rw-chat-notification-bell-button-pading);
    right: var(--rw-chat-notification-bell-button-pading);
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
  }
}
