@import "../../../styles/styles.scss";

:root {
  --rc-chat-message-history-background: var(--rc-white);
  --rc-chat-message-history-spacing: calc(var(--rc-layout-step) * 1.5) 0;

  --rc-chat-message-history-line-message-no-user-padding: calc(
    var(--rc-avatar-size_medium) + calc(var(--rc-layout-step) * 4.5)
  );
}

@include roq-component("chat-message-history") {
  height: 100%;
  overflow-x: hidden;
  max-height: 100%;
  overflow-y: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: contain;
  position: relative;
  transform: translateZ(0);
  width: 100%;

  background-color: var(--rc-chat-message-history-background);

  &__empty {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    color: #94a3b8;
    align-content: flex-start;
    justify-content: space-around;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__line {
    $line: &;

    display: flex;
    padding: var(--rc-chat-message-history-spacing);

    &--sent {
      justify-content: flex-end;

      #{$line} {
        &__message {
          &--no-user {
            padding-right: var(
              --rc-chat-message-history-line-message-no-user-padding
            );
          }
        }
      }
    }

    &--received {
      justify-content: flex-start;

      #{$line} {
        &__message {
          &--no-user {
            padding-left: var(
              --rc-chat-message-history-line-message-no-user-padding
            );
          }
        }
      }
    }
  }
}
