@import "../../../styles/styles.scss";

:root {
  --rc-chat-message-history-spacing: calc(var(--rc-layout-step) * 1.5) 0
}

@include roq-component("chat-message-history") {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: contain;
  position: relative;
  transform: translateZ(0);
  width: 100%;

  &__spacer {
    flex: 1 1 auto;
  }

  &__line {
    display: flex;
    padding: var(--rc-chat-message-history-spacing);

    &-sent {
      justify-content: flex-end;
    }

    &-received {
      justify-content: flex-start;
    }

    &__message {
    }
  }
}
